html {
    width: 1000px;
    border: 5px solid black;
    /* border: 10px solid white; */
    margin: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: auto;
    width: 1000px;
    height: 1000px;
}

header {
    background: rgb(255, 193, 78);
    float: top;
    width: 940px;
    padding: 10px;
    padding-right: 50px;
    margin: auto;
    text-align: right;
    border-bottom: 5px solid black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:larger
}

footer {
    background: rgb(255, 152, 169);
    text-align: center;
    margin: auto;
    width: 1000px;
    height: 25px;
    padding-top: 10px;
    float: right;
    border-top: 5px solid black;
}

#sidebar {
    float: left;
    position: relative;
    left: 0px;
    width: 230px;
    padding: 10px;
    background-color: lightgreen;
    border: 20px;
    height: 100%;
    border-right: 5px solid black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#mainbody {
    float: left;
    position: relative;
    padding: 10px;
    padding-left: 50px;
    background: lightblue;
    width: 685px;
    border: 20px;
    height: 100%;
}

#albumBody {
    float: right;
    position: relative;
    padding: 10px;
    padding-left: 50px;
    background: lightblue;
    width: 100px;
    border: 20px;
}

#albumBody img {
    width: 100px;
}

#top {
    padding: 3px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 57%;
    height: 6%
}

#genre-list {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: lightblue;
}


#singleAlbums {
    display: none;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:rgb(245, 144, 161);
    border: 5px solid black;
    padding: 10px;
    width: 450px;
    font-size:larger
}

#bigImage {
    width: 300px;
}
    
/* Added tooltip formatting to get it to appear below the album. This can definitely be tweaked further! */
.tooltip {
    display: none;
    position: absolute;
    width: 200px;
    height: 85px;
    top: 0px;
    right: 105%;
    text-align: center;
    background: #ffffff;
    opacity: 0.8;
    padding: 6px;
    font-size: 0.75em;
    color: black;
    border-radius: 2px;
    animation: fadeIn 0.6s;
}

.tooltip h4 {
    line-height: 0.5em;
}

.thumbnail {
    position: relative;
    display: inline-block;
}

#spotify {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}


button {
    background-color: rgb(195, 166, 215);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    cursor: pointer;
}

button:hover {
    background-color:  rgb(174, 127, 203);
}

button:active {
    transform: scale(.90);
}